 /frontend/standalone       export-ignore
 /frontend/node_modules       export-ignore
/frontend/src                   export-ignore
/frontend/package.json       export-ignore
/frontend/package-lock.json      export-ignore
/frontend/vite.config.js      export-ignore
/frontend/webpack.wp.js      export-ignore
/frontend/build/index.asset.php      export-ignore
readme.md                           export-ignore
/.gitignore                     export-ignore
